@font-face {
    font-family: "NoirPro";
    src: local("NoirPro"),
     url("./fonts/NoirPro/NoirPro-Regular.otf") format("OpenType");
    font-weight: Medium;
    }

body{
    font-family: "NoirPro";
    background-color: #050C24;

}

.boxItem{
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.contain{
height: 30vh;
}
.imagecontain{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.SkinMainPage{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
 

.HighlightedItem{
    height: 100%;
    background-color: #554EA7;

}

.Item2{
    height: 100%;
    background-color: bisque;
}

.Item3{
    height: 100%;
    background-color: coral;
}

.Item4{
    height: 100%;
    background-color:azure
}

.Item5{
    height: 100%;
    background-color: burlywood;
}